/* li {
  display: inline;
  width: 100%;
}
li a {
  color: rgb(189, 75, 75);
  text-align: center;
  padding: 16px;
  display: inline;
  background-color: white;
}

li a:hover {
  background-color: #111111;
} */
