/* .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#header-search {
  width: 25%;
}

.searchButton {
  width: 25%;
}

.searchForm {
  text-align: center;
  padding: 50px;
} */
